{% extends 'base.html.twig' %}

{% block title %}Edit Lending{% endblock %}

{% block body %}
    <h1>Edit Lending</h1>

    {{ include('lending/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('lending_index') }}">back to list</a>

    {{ include('lending/_delete_form.html.twig') }}
{% endblock %}
