{% extends 'base.html.twig' %}

{% block title %}New Lending{% endblock %}

{% block content %}
    <h1>Create new Lending</h1>

    {{ include('lending/_form.html.twig') }}

    <a href="{{ path('lending_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
