{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-book"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Books</span>
                    <span class="info-box-number">{{ books }}</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-pencil"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Authors</span>
                    <span class="info-box-number">{{ authors }}</span>
                </div>
            </div>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-address-book-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Lending</span>
                    <span class="info-box-number">{{ lending }}</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-user"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Members</span>
                    <span class="info-box-number">{{ members }}</span>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
