<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags("app") }}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
</head>

<body class="skin-blue sidebar-mini" data-gr-c-s-loaded="true" style="height: auto; min-height: 100%;">
<div class="wrapper" style="height: auto; min-height: 100%;">
    {% include 'header.html.twig' %}

    {% include 'sidebar.html.twig' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 946.214px;">
        <!-- Main content -->
        <section class="content">
            {% block content %}
            {% endblock %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div>

</body>
{% block javascripts %}
    {{ encore_entry_script_tags("app") }}
{% endblock %}
</html>
