<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# "app" must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags("app") }}
            <link rel="stylesheet" href="/build/app.css">
        {% endblock %}
    </head>
    <body>
        {% include "navigation.html.twig" %}
        <main role="main" class="container">
        {% block body %}{% endblock %}
        </main>
        {% block javascripts %}
            {{ encore_entry_script_tags("app") }}
            <script src="/build/runtime.js"></script>
            <script src="/build/app.js"></script>
        {% endblock %}
    </body>
</html>
